<a href="https://colab.research.google.com/github/nikhilchaple/assignment-1/blob/main/verallpractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [94]:
print("python")

python

In [95]:
print('The name of company is freshmart')

The name of company is freshmart

In [96]:
print('The Co estabilished in', 1983)

The Co estabilished in 1983

In [97]:
print('My name is Nikhil working for 10 years from', 2013)

My name is Nikhil working for 10 years from 2013

In [98]:
x=11
y=20
c=x*y
print(c)
c

220

220

In [99]:
company_name = "fresh mart"
print('The name of company is ',company_name)

The name of company is  fresh mart

In [100]:
turnover = 1.5
Turnoer='1.5 Million'
year=2022
print('The', company_name,'Turnover is',turnover,'in ',year)

The fresh mart Turnover is 1.5 in  2022

In [101]:
stock1 = 0.2
print('Price of stock  in Million $ is ',stock1)
price_updated = stock1 + stock1
print('Price of stock2 in Million is',price_updated)

Price of stock  in Million $ is  0.2
Price of stock2 in Million is 0.4

In [102]:
price_final = stock1*10
print('price od 10 stock in Million is',price_final)

price od 10 stock in Million is 2.0

In [103]:
downtime_hours = 90
total_time = 2500
average_downtime = downtime_hours/total_time
print('The Average downtime Hours for last Month is', average_downtime)

The Average downtime Hours for last Month is 0.036

In [104]:
stock1= 'tv'
stock2 = 'Laptop'
stock3= 'Mobile Phones'
stock4= 'Table fans'

In [105]:
stocks= ["tv","Laptop","Mobile Phones", "Table fans"]
print('stock:',stocks)

stock: ['tv', 'Laptop', 'Mobile Phones', 'Table fans']

In [106]:
stocks= ["tv","Laptop","Mobile Phones", "Table fans"]
Sales= [200,652,412,123]

print(Sales,stocks)

[200, 652, 412, 123] ['tv', 'Laptop', 'Mobile Phones', 'Table fans']

In [107]:
stocks.remove("Table fans")
print('stocks:',stocks)

stocks: ['tv', 'Laptop', 'Mobile Phones']

In [108]:
stocks.append("Smart fan")
print("Stocks:",stocks)

Stocks: ['tv', 'Laptop', 'Mobile Phones', 'Smart fan']

In [109]:
stocks[0:3]

['tv', 'Laptop', 'Mobile Phones']

In [110]:
stocks.remove(stocks[1])
stocks

['tv', 'Mobile Phones', 'Smart fan']

In [111]:
stocks[-2]

'Mobile Phones'

In [112]:
2choice = input("Enter the choice(add/sub/div/mul):")
a= float(input("Enter 1st value:"))
b= float(input("Enter 2nd value:"))
if choice=="add":
    print(a,"+",b,"=",a+b)
if choice=="sub":
    print(a,"-",b,"=",a-b)
elif choice=="div":
    print(a,"/",b,"=",a/b)
elif choice=="mul":
    print(a,"*",b,"=",a*b)
else:
    print("enter again")

Enter the choice(add/sub/div/mul):div
Enter 1st value:10
Enter 2nd value:0

ZeroDivisionError: ignored

In [113]:
my_list = ['a String','23','100','232','o','9090909099090','Nikhil']

In [114]:
my_list = ['one','Two','three','4','5']

In [115]:
my_list[:3]

['one', 'Two', 'three']

In [116]:
my_list + ['new list']

['one', 'Two', 'three', '4', '5', 'new list']

In [117]:
my_list[1:]

['Two', 'three', '4', '5']

In [118]:
my_list + ['new list']

['one', 'Two', 'three', '4', '5', 'new list']

In [119]:
my_list = my_list +['add new item permantly']

In [120]:
my_list

['one', 'Two', 'three', '4', '5', 'add new item permantly']

In [121]:
my_list*2

['one',
 'Two',
 'three',
 '4',
 '5',
 'add new item permantly',
 'one',
 'Two',
 'three',
 '4',
 '5',
 'add new item permantly']

In [122]:
my_list

['one', 'Two', 'three', '4', '5', 'add new item permantly']

In [123]:
#creat new list
list1 = [1,2,3]

In [124]:
# Append
list1.append('append me')

In [125]:
# show

In [126]:
list1

[1, 2, 3, 'append me']

In [127]:
#pop off the 0 index item
popped_item = list1.pop()

In [128]:
popped_item

'append me'

In [129]:
#show remaining list
list1

[1, 2, 3]

In [130]:
#popped out 0 from lis
popped_item= list1.pop(0)

In [131]:
list1

[2, 3]

In [132]:
new_list= ['a','e','x','b','c']

In [133]:
new_list

['a', 'e', 'x', 'b', 'c']

In [134]:
new_list.reverse()

In [135]:
new_list

['c', 'b', 'x', 'e', 'a']

In [136]:
new_list.sort()

In [137]:
new_list

['a', 'b', 'c', 'e', 'x']

In [138]:
#let's make thre lists
lst_1 = [1,2,3]
lst_2= [4,5,6]
lst_3= [7,8,9]
# Make a list of list
matrix = [lst_1,lst_2,lst_3]

In [139]:
#grab matrix item
matrix[0]

[1, 2, 3]

In [140]:
#grab 1st item from matrix
matrix[0][0]

1

In [141]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [145]:
#make a dictionary with {} and  : to signify a key value
my_dict = {'key1':'value1', 'key2':'value2'}

In [146]:
# call value by their key
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [147]:
my_dict['key2']

'value2'

In [162]:
my_dict100 ={'key1':123,'key2': [12,33,23],'key3':['item1','item2','item3']}
my_dict100

{'key1': 123, 'key2': [12, 33, 23], 'key3': ['item1', 'item2', 'item3']}

In [163]:
my_dict100['key1']

123

In [164]:
my_dict100['key1'] = my_dict100['key1'] - 100

In [165]:
my_dict100['key1']

23

In [166]:
my_dict100['key1']-=123
my_dict100['key1']

-100

In [168]:
#creat a new dictonary
my_car = {a: ['maruti':500,'tata':600,' hundai':400, 'voswagon:100']}

SyntaxError: ignored

In [170]:
d{}

SyntaxError: ignored

In [171]:
d['animal'] = 'Dog'

NameError: ignored

In [176]:
d={'key1':{'nestkey':{'subnestkey':'value'}}}

In [177]:
d['key1']['nestkey']['subnestkey']

'value'

In [179]:
d={'key1':1,'key2':2,'key3':3}

In [180]:
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [182]:
d.values()

dict_values([1, 2, 3])

In [184]:
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

In [187]:
input=['fun','foo','bar']
lst= [x.upper()for x in input]
print(lst)

['FUN', 'FOO', 'BAR']

In [189]:
# Tuples

In [190]:
t=(1,2,3)

In [191]:
# check
len(t)

3

In [194]:
# can also mix
t=('one',2)

In [195]:
#usrindexing just like e did in listt[0]

In [197]:
#slicing jist like list
t[-1]

2

In [198]:
# use indexing to enter a vale nd return the index
t.index('one')

0

In [199]:
#use .count to count the number of times value appears
t.count('one')

1

In [202]:
tuples can not change or append
# t[0]= 'change'

SyntaxError: ignored

In [203]:
t.append('nope')

AttributeError: ignored

In [204]:
#Sets()

In [205]:
x=set()

In [206]:
x.add(1)

In [207]:
x

{1}

In [213]:
x.add(2)
x.add(3)

In [214]:
x

{1, 2, 3}

In [215]:
list1=[1,1,2,2,3,3,4,5,6,7]

In [217]:
set(list1)

{1, 2, 3, 4, 5, 6, 7}

In [218]:
# Booleans

In [219]:
a = True

In [220]:
a

True

In [221]:
# Output is boolean
1 > 2

False

In [226]:
b = None

In [227]:
print(b)

None

In [233]:
x= False
if x:
    print('x is God')
else:
    print('no god')

no god

In [241]:
loc = 'Bank'
if loc =="Auto shop":
    print('welcometo Auto shop!')
elif loc== 'bank':
      print('Welcome to the bank')
else:
      print('where are you')

where are you

In [243]:
person='Nikhil'
if person=='Nikhil':
    print('Welcome Nikhil')
else:
    print('you are not welcome')

Welcome Nikhil

In [251]:
list1=[1,2,3,4,5,6,7,8,9]
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [252]:
for num in list1:
    print(num)

1
2
3
4
5
6
7
8
9

In [248]:
17 % 5

2

In [253]:
if num in list1:
    if num % 2 == 0:
          print(num)

In [254]:
for num in list1:
  if num % 2 =0
  print(num)
  else:
      print('odd number')

SyntaxError: ignored

In [260]:
for letter in 'This is string';
    print ('letter')

SyntaxError: ignored

In [258]:
#for loop for tuple
tup= (1,2,3,4,5)
for t in tup:
      print (t)

1
2
3
4
5

In [264]:
list2=[(2,4),(6,8),(10,12)]

In [265]:
for tup in list2:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [267]:
for (t1,t2) in list2:
  print(t1)

2
6
10

In [271]:
d={'k1':1,'k2':2,'k3':3}

In [272]:
for item in d:
    print(item)

k1
k2
k3

In [277]:
dict_item()

NameError: ignored

In [278]:
dict_item([('k1',1),('k2',2),('k3',3)])

NameError: ignored

In [275]:
list(d.key())

AttributeError: ignored

In [276]:
sorted(d.values())

[1, 2, 3]